.box div{
    display: inline;
    background-color: steelblue;
}

.box span{
    display: block;
}

.box{
    background-color: tan;
    width: 400px;
    height: 300px;
    padding: 10px;
    padding: 20px 10px;/*top&right, left&bottom*/
    padding: 20px 50px 20px; /*top, right, bottom, left*/
    padding: 20px 50px 20px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    margin-top: 20px;
    
}

