p{
    width: 200px;
    color: aqua;
    margin: 0; /*not require any units*/
}

div{
    transform: rotate(45deg);
    height: 200vh;
    width: calc(100% - 20px);
}

h1{
    color: blue;
}