body{
    border: 1px solid #333;
}
div{
    background: lightblue;
    padding: 10px;
    margin: 10px;
    width: 60px;
}

.static{
    position: static;
}
.relative{
    position: relative;
    top: 10px;
    background: purple;
    right: 20px;
    z-index: 100;
}

.absolute{
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.fixed{
    position:fixed;
    top: 80px;
    right: 20px;
}

.sticky{
    position:sticky;
    top: 30%;
}